@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to top, #326bcd, #0dc40d); 
  min-height: 100vh; 
  margin: 0; 
}
/* Clase para las imágenes del carrusel */
.carousel-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
  border-radius: 10px; /* Opcional: Agrega bordes redondeados si lo deseas */
}
